*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container{
    width: max(1020px);
    height: auto;
    padding: 20px;
}

div#title-box{
    padding: 20px;
    text-align: center;
    font-size: larger;
}

div#screen{
    height: 960px;
    width: 960px;
    background-color: beige;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

div#button-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.parent-div{
    background-color: blueviolet;
    display: flex;
}